<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Token Sales Progress</h5>
          <div class="progress-values">
            <div class="text-left"> <h6>Raised Amount</h6>
              <div>{{ current }}</div>
            </div>

            <div class="text-right"><h6>Raised Amount</h6> <div>{{ total }}DST</div></div>
          </div>
          <div class="progress">
            <div class="progress-bar" [style.width.%]="(current / total) * 100"></div>
          </div>

          <!-- Create an input for numbers with spacing -->
          <input type="number" [(ngModel)]="current" placeholder="Enter value" class="form-control mb-2" />
          <div class="progress-label text-center">{{ ((current / total) * 100).toFixed(2) }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
