/* progress-bar.component.scss */
.container {
  margin-top: 5rem; /* Adjust the top margin as needed */
}

.progress {
  position: relative;
  margin-bottom: 1rem; /* Add margin-bottom for spacing */
  background-color: #e0e0e0;
  height: 2rem;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 125%; /* Make the progress bar 25% thicker */
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.progress-values {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1.2rem;
}

input {
  margin-top: 1rem; /* Add margin-top for spacing between input and progress bar */
}

.progress-label {
  margin-top: 0.5rem;
  text-align: center;
}
